* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input {
  background: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px top 10px;
}

.input-address {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  background-image: url("../img/home.svg");
}

.button {
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.button-primary {
  background: #1890FF;
  border-radius: 2px;
  border: 1px solid #1890FF;
  color: #ffffff;
  margin-right: 10px;
}

.button-icon {
  margin-right: 3px;
  vertical-align: middle;
}

.button-text {
  vertical-align: middle;
}

.promo {
  -webkit-box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
          box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url("../img/promo-bg.png") no-repeat top 10px right -200px/1000px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}

.promo-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
}

.promo-text {
  color: #302C34;
  max-width: 540px;
  font-size: 24px;
  line-height: 28px;
}

.input-search {
  background-image: url("../img/search.svg");
  width: 306px;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

.card-image {
  width: 384px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 23px;
}

.card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.card-tag {
  padding: 1px 8px;
  background: #262626;
  border-radius: 2px;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rating {
  margin-right: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFC107;
}

.category {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price, .category {
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}

.price {
  margin-right: 15px;
}

.price:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  top: -2px;
  left: 7px;
}

.rating img {
  margin-right: 5px;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#F5F5F5));
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.footer {
  padding: 60px 0;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav {
  margin-right: auto;
  margin-left: 35px;
}

.footer-link {
  display: inline-block;
  color: #595959;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}

.footer-link:not(:last-child) {
  margin-right: 15px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link:not(:last-child) {
  margin-right: 21px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  max-width: 780px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px 45px;
}

.modal-body {
  margin-bottom: 52px;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.modal-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.close {
  font-size: 36px;
  border: none;
  background-color: transparent;
}

.food-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.food-name {
  font-size: 18px;
  line-height: 32px;
}

.food-price {
  margin-left: auto;
  margin-right: 47px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.counter-button {
  background-color: #ffffff;
  border: 1px solid #48a9ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 39px;
  height: 32px;
  font-size: 14px;
  line-height: 22px;
  color: #48a9ff;
}

.food-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter {
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricetag {
  background: #262626;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background-position: center right -300px;
    background-size: 750px;
  }
  .rating {
    margin-right: 15px;
  }
  .category, .price {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo {
    padding: 50px;
    background-size: 500px;
    background-position: center right -200px;
  }
  .promo-text {
    font-size: 18px;
    max-width: 400px;
  }
  .card {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .footer-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
  }
  .card-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rating {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card-title {
    font-size: 18px;
  }
  .promo-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .promo-text {
    margin-top: 0;
  }
  .promo {
    background-size: 400px;
    background-position: bottom 50px right -200px;
  }
}

@media (max-width: 578px) {
  .container {
    width: 90%;
  }
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .input-address {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .promo {
    background-image: none;
  }
  .promo-title {
    margin-bottom: 10px;
  }
  .section-title {
    font-size: 20px;
  }
  .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card-image {
    width: 100%;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 35px;
  }
  .social-links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 480px) {
  .button-text {
    display: none;
  }
  .button {
    min-height: 40px;
  }
  .button-icon {
    margin: 0;
  }
  .promo {
    padding: 20px;
  }
  .section-heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .input-search {
    width: 100%;
  }
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 20px;
  }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .footer-link:not(:last-child) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */